*{
    margin: 0px;
}
body{
    background-color: aqua;
}
#a1{
    font-size: 25px;
    color: rgb(207, 125, 49);
    text-decoration: none;
    text-transform: none;
    margin-right: 200px;
}
div{
    height: 60px;
    border-width: 8px;
    border-color: white;
    border-style: solid;
    text-align: start;
    background-color: #0f1111;
    color:white;
    text-transform: capitalize;
}
a{
    color:white;
    text-transform: capitalize;
    text-decoration: none;
    margin-right: 200px;
}
button{
    background-color: #f08804;
    color: white;
}